/*Bootstrap*/
@import url("bootstrap.min.css");

/*Fonte*/
@import url("../fonts/stylesheet.css");

* {
    font-family: 'sf_pro', sans-serif;
    color: #2F2F2F;
}

li,
a,
p {
    font-size: .9rem;
}

p {
    margin-bottom: 0;
}

.full-vh {
    height: 100vh;
}

.center-vh {
    top: 50vh;
    transform: translateY(-50%);
}

.btn-1 {
    background-color: #FAE90E;
    border-radius: 10rem;
    padding: 1.4rem 3rem;
}

.bg-cor {
    background-color: #2F2F2F;
}

.bg-cor p {
    color: #fff;
}

.titulo-container {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-align: center; 
}

.subtitulo-container {
    color: #fff;
    font-size: 1rem;
    font-weight: normal;
    text-align: center; 
}

.bg-cor .titulo-container {
    color: #FAE90E;
}

/*=============================================
MENU
=============================================*/
.navbar {
    background-color: transparent;
}

.navbar .navbar-brand img {
    width: 11.5rem;
}

.navbar .nav-link {
    color: #2F2F2F;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

/*=============================================
Header
=============================================*/
.container-principal {
    margin-top: -112.11px;
    background-image: url(../img/bg-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
}

.container-principal .titulo-geral {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 0rem;
}

#typed {
    font-weight: bold;
    font-size: 3rem;
}

.typed-cursor {
    font-size: 2.7rem;
}

.container-principal .btn {
    margin-top: 2rem;
}

.scroll-downs {
    position: absolute;
    right: 0;
    bottom: 3rem;
    left: 0;
    margin: auto;
    width: 34px;
    height: 55px;
}

.mousey {
    width: 3px;
    padding: 7px 12px;
    height: 35px;
    border: 2px solid #2F2F2F;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #2F2F2F;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}

/*=============================================
Sobre
=============================================*/
.container-sobre .titulo-container {
    text-align: right;
    font-size: 5rem;
    font-weight: bold;
    line-height: 5.4rem;
}

/*=============================================
Serviços
=============================================*/
.container-servicos {
    background-image: url(../img/eora.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-servicos .subtitulo-container {
    margin-bottom: 4rem !important;
}

.container-servicos .servico {
    text-align: center;
    cursor: pointer;
}

.container-servicos .servico i {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #fff;
    transition: .2s;
}

.container-servicos .servico h5 {
    font-size: 1rem;
    margin: 0;
    color: #fff;
    transition: .2s;
}

.container-servicos .servico:hover h5,
.container-servicos .servico:hover i {
    color: #FAE90E;
}

.container-servicos .card-body {
    padding: 0rem 0rem 0rem 5rem;
}

.container-servicos .card-body h6,
.container-servicos .card-body p {
    color: #fff;
}

.container-servicos .servicos-topo {
    margin-bottom: 6rem;
}

.container-servicos .card {
    background-color: transparent;
    border: 0;
}

.container-servicos .card-body h6 {
    font-weight: bold;
    font-size: 1.2rem;
}

/*=============================================
Projetos
=============================================*/
.container-projetos {
    padding-top: 6.5rem;
    padding-bottom: 7.5rem;
}

.container-projetos .titulo-container {
    margin-bottom: 4rem !important;
}

.container-projetos .projeto {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
    padding: 0;
    cursor: pointer;
}

.container-projetos .projeto .projeto-info {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.container-projetos .projeto:hover .projeto-info {
    visibility: visible;
    opacity: 1;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #333333;
}

.container-projetos .projeto .projeto-info {
    color: #fff;
}

.container-projetos .projeto .projeto-info h6 {
    font-size: 1.2rem;
    padding-top: 8.8rem;
    margin: 0;
    color: #fff;
    font-weight: bold;
}

.container-projetos .projeto .projeto-info p {
    font-size: .9rem;
    margin: 0;
}

/*=============================================
Contato
=============================================*/
.container-contato {
    background-image: url(../img/contato.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
    padding-top: 4.5rem;
    padding-bottom: 5.5rem;
}

.container-contato .subtitulo-container {
    margin-bottom: 3rem !important;
}

/*=============================================
Forms
=============================================*/
.form-group label {
    color: #fff;
}

.form-control {
    height: auto;
    padding: .75rem .75rem;
    font-size: .9rem;
    line-height: 1.3rem;
    color: #fff;
    background-color: #0000008a;
    border: 0;
    border-radius: 0;
}

.form-control:focus {
    background-color: #0000008a;
    box-shadow: 0 0 0 0.2rem #fae90e30;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}